<% for (const item of items) { %>
<% if (item.type == "software") { %>
	<a href="<%- item.path %>"><span class="badge rounded-pill bg-primary"><%= item.title %></span></a> 
<% } %>
<% if (item.type == "database") { %>
	<a href="<%- item.path %>"><span class="badge rounded-pill bg-secondary"><%= item.title %></span></a> 
<% } %>
<% } %>
